.player {
	display: table;
	margin: 0 auto;
	width: 80%;
}

table {
	display: inline-flex;
}

tr {
	width: 300px;
}

tr:nth-child(even){
	background-color: #bababa;
}

audio {
	width: 100%;
}

.current {

}